

/* Generall options */

html {
    margin:    100px;
    max-width: 1200px;
}

body, .row {
  background-color: rgba(255, 255, 255, 1);
  font-size: 14px;
}

/* Logo and image options */
#NFlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

#Skulllogo{
    width: 200px;
    height: auto;
    opacity: 0.8;
}


/* Table options */
#DTresult{
   margin: 5px 0 0 0; 
}

thead .sorting {
  background-color: #f4908c;
  color: #FFF;   
}
      


/* All options for the slider: changing color, text etx */
.irs-bar {
    border-top-color: #f4908c;
    border-bottom-color: #f4908c;
} 

.irs-bar-edge{
    border-color: #f4908c;
}

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar,
.js-irs-0 .irs-max, .js-irs-0 .irs-min {
    background: #f4908c;
    color: rgb(232, 232, 232)
}

.irs-grid-pol {
    display: none;
}

.irs-grid-text {
    visibility: hidden;
    color: rgba(255, 255, 255, 1);
}

.js-irs-0 .irs-max:after {
  content:'-high'; 
  visibility: visible;
}

.js-irs-0 .irs-min:after {
  content:'-low'; 
  visibility: visible;
}

/* Button colour */
#subsetData_in{
    background: #f4908c;
    border: #f4908c;
}


/* Image stack put them into the shiny */
.imageStack {
    text-align: center;
}
.imageScale {
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}